GEMINI__APIKEY=coloque-a-chave-gemini
NOTION__TOKEN=Bearer coloque-o-token-notion
TELEGRAM__BOTTOKEN=coloque-o-token-do-bot
TELEGRAM__WEBHOOKSECRET=coloque-o-secret-do-webhook
TELEGRAM__ALLOWEDUSERIDS__0=1457165585
TELEGRAM__QUEUECAPACITY=100
